<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form" novalidate>
  <h2 class="form-title">Crear Cuenta</h2>
  <p class="form-subtitle">Completa el formulario para registrarte</p>

  @if (serverError) {
    <div class="form-error-banner" role="alert">
      {{ serverError }}
    </div>
  }

  <app-form-row>
    <app-input-group
      label="Nombre"
      labelIcon="fa-user"
      type="text"
      placeholder="Juan"
      id="firstName"
      name="firstName"
      [required]="true"
      [errorMessage]="getFirstNameError()"
      [maxLength]="50"
      autocomplete="given-name"
      formControlName="firstName">
    </app-input-group>

    <app-input-group
      label="Apellido"
      labelIcon="fa-user"
      type="text"
      placeholder="Pérez"
      id="lastName"
      name="lastName"
      [required]="true"
      [errorMessage]="getLastNameError()"
      [maxLength]="50"
      autocomplete="family-name"
      formControlName="lastName">
    </app-input-group>
  </app-form-row>
  
  <app-input-group
    label="Email"
    labelIcon="fa-envelope"
    type="email"
    placeholder="ejemplo@correo.com"
    id="email"
    name="email"
    [required]="true"
    [errorMessage]="getEmailError()"
    [maxLength]="100"
    autocomplete="email"
    formControlName="email">
  </app-input-group>

  <app-password-input
    label="Contraseña"
    labelIcon="fa-lock"
    placeholder="Ingrese su contraseña"
    id="password"
    name="password"
    [required]="true"
    [errorMessage]="getPasswordError()"
    autocomplete="new-password"
    formControlName="password">
  </app-password-input>

  <app-password-input
    label="Confirmar Contraseña"
    labelIcon="fa-lock"
    placeholder="Repite tu contraseña"
    id="confirmPassword"
    name="confirmPassword"
    [required]="true"
    [errorMessage]="getConfirmPasswordError()"
    autocomplete="new-password"
    formControlName="confirmPassword">
  </app-password-input>


  <app-button
    type="submit"
    variant="primary"
    size="large"
    [disabled]="!isFormValid()"
    [loading]="isSubmitting"
    ariaLabel="Registrarse"
    [attr.aria-busy]="isSubmitting"
    class="submit-button">
    <i class="fas fa-user-plus" aria-hidden="true"></i>
    Registrarse
  </app-button>

  <p class="form-footer">
    ¿Ya tienes cuenta?
    <a routerLink="/login" class="form-link">Inicia sesión</a>
  </p>
</form>

